@font-face {
    font-family: 'hwt_republic_gothicoutline';
    src: url('fonts/hwtrepublicgothicoutline-webfont.woff2') format('woff2'),
         url('fonts/hwtrepublicgothicoutline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'hwt_republic_gothicsolid';
    src: url('fonts/hwtrepublicgothicsolid-webfont.woff2') format('woff2'),
         url('fonts/hwtrepublicgothicsolid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html,
body {
  background: rgb(203, 145, 255);
  margin: 0;
  }
 

  .gridcontainer {
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: auto;
}

.title{
  display: grid;
  font-family:'hwt_republic_gothicoutline';
  color:green;
  padding: 0px;
  font-size: 33px;
  margin:0px;
  font-weight: 400;
  left:0px;
}

.name{
transform: rotate(90deg);
position: fixed;
top:350px;
left:-270px;
}

.flexcontainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;  
}

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
}

.project{
  font-family:'hwt_republic_gothicoutline';
  font-size: 45px;
  color:navy;
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-radius: 20px;
  height: 280px;
  width: 280px;
  font-weight: 400;
}


 .project:hover {
  font-family: 'hwt_republic_gothicsolid';
  font-size: 45px;
  color:green;
  background-color: rgb(203, 145, 255);
  padding: 10px;
  margin: 10px;
  border-style: solid;
  border-radius: 20px;
}


